#target-div{
    background-color: blue;
    height: 600px;
    width: 600px;
}

.image-poke{
    z-index: -1;
    position: relative;
}

.source-div{
    z-index: 999;
}

section{
    display: flex;
    flex-direction: row;
}