*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV */

header {
  background-color: #bc3e3e;
  color: white;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
#logo {
  font-size: 2em;
  margin-left: 1em;
}
ul {
  list-style: none;
  display: flex;
  margin-right: 1em;
}
li {
  margin: 0 1em;
}

/* SEARCH FORM*/
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
#search-input {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 1em;
  font-size: 1.2em;
}
button[type="submit"] {
  padding: 0.5em 1em;
  background-color: rgb(129, 105, 105);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: rgb(55, 44, 44);
}

/* CARDS POKEMON */

#pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#pokemonShiny {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(129, 105, 105);
  margin: 10px;
}

.card img {
  background-color: #fff;
  border: solid 1px rgb(129, 105, 105);
}

.card h2 {
  color: rgb(255, 241, 241);
}

.card a {

  text-decoration: none;
  color: rgb(229, 229, 229);
}

.cardShiny {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(129, 105, 105);
  margin: 10px;
}

.cardShiny img {
  background-color: #fff;
  border: solid 1px rgb(129, 105, 105);
}

.cardShiny h2 {
  color: rgb(255, 241, 241);
}

.cardShiny a {
  text-decoration: none;
  color: rgb(229, 229, 229);
}




/* CANVAS*/

.confetti{
    position: absolute;
    top: 0;
    left: 25%;
    max-width: 640px;
    display: block;
    margin: 0 auto;
    border: 1px  #ddd;
 }

#target-div{
  border: solid black 1px;
  height: 80vh;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.image-poke{
  z-index: -1;
  position: relative;
}

#pokemon-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
  gap: 30px;
  overflow-y: auto;
  height: 80vh;
}

.source-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  z-index: 999;
  width: 120px;
  border: solid black 2px;
  max-height: 200px;
}

section {
  display: flex;
  flex-direction: row;
}

